* {
	font-family: Helvetica, arial;
	color : #444444; /** grey */
}

html {
	margin: 0;
	padding: 0;
	height:90vh;
}

body {
	margin: 0;
	padding: 0;
	height:90vh;
}

#header {
	background-color: #3D3D3E; /** dark grey */
	color : #76DAFF; /** cyan */
	height: 30px;
	line-height:30px;
	padding-left: 10px;
}

#header .selected {
	background-color: #cccccc; /** grey */
	color: #000000;
}

.error-message {
	text-align:center;
	color: #FF0000;
}

.rowForm.field-error label {
	color: #FF0000;
}

.rowForm.field-error input {
	color: #FF0000;
	box-shadow: 0 0 3px #FF0000;
}

#loginForm {
	margin-top: 30px;
}

.rowForm {
	margin-top: 10px;
	display: flex;
}

.rowForm.actions {
	justify-content: center;
}

.rowForm.actions button {
	margin-right:5px;
}

.col-label-1-2 {
	width: 50%;
	text-align: right;
}

.col-label-1-2 label {
	margin-right: 5px;	
}

.col-value-2-2 {
	width: 50%;
}

